

.content.container{
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    background: aliceblue;
}
.leafy{
    display: flex;
    margin: 50px;
    border: 1px outset;
    background-color: white;
    background-image: linear-gradient;
}
.pointy{
    display: flex;
    margin: 50px;
    border: 1px outset;
    background-color: white;
}    
h1{
text-align: left;
width: -webkit-fill-available;
padding: 0 30px;
}
img {
    background: #28ac2d;
    width: 500px;
}
.card {
    height: 100%;
    margin: 20px;
    background-color: azure;
    width: 90%;

}
a{
    background: rgb(25, 167, 119);
    color: aliceblue;
    font-size: 1.0em;
    letter-spacing: 1px;
    line-height: 50px;
    display: inline-block;

    text-decoration: none;
    border-radius: 30px;
    margin-top: 1em;
    border: 1px solid rgba(red, green, blue, alpha);
}
p {
    font-size: x-large;
}


a :hover{
    background-color: #134115;
}